@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --dark-blue: #1F2937;
    --white: #F9FAF8;
    --gray: #E5E7EB;
    --light-blue: #3882F6;
}

body {
    background-color: var(--dark-blue);
    color: var(--white);
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

body > * {
    padding-inline: 15%;
}

nav {
    display:flex;
    justify-content: space-between;
    margin-top:20px;
}

#header-logo {
    font-size: 24px;
    font-weight:900;
}

#header-links {
    color: var(--gray);
    width:450px;
    display: flex;
    justify-content: space-between;
}

.section {
    height: 400px;
    display: flex;
    align-items: center;
}

#section-1 {
    justify-content: space-between;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    gap:10px;
}

#hero-heading {
    font-size: 48px;
    font-weight:900;
    margin: 0;
}

#hero-secondary-text {
    color: var(--gray);
    font-size: 18px;
}

 #hero-button {
    background-color: var(--light-blue);
    text-align: center;
    padding:8px 0;
    width:125px;
    border-radius: 8px;
 }

 #pyramid-image, #hero {
    height: 250px;
 }

 #pyramid-image {
    width:500px;
 }

#section-2 {
    background-color: var(--white);
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
}

.square-image {
    width: 180px;
    height: 180px;
    border: 4px solid var(--light-blue);
    border-radius: 15px;
}


#section-3 {
    background-color: var(--gray);
}

#section-4 {
    background-color: var(--white);
}

footer {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}